/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */


.paragraph {
  color: red;
  padding: 15px;
}

.paragraph {
  color: blue;
}